<!DOCTYPE html>
<html>
<head>
    <title>Hola</title>
    <form method="get" action="{% url 'buscar_libros' %}">
        <input type="text" name="q" placeholder="Buscar libros...">
        <button type="submit">Buscar</button>
    </form>
</head>
<body>
    <nav>
        <div>
            <p>hola</p>
            <ul>
                <li><a href="{% url 'base' %}">Lista de Libros</a></li>
                <li><a href="{% url 'lista_libros' %}">Lista de Libros</a></li>
                <li><a href="{% url 'agregar_libro' %}">Agregar Libro</a></li>
            </ul>
        </div>
    </nav>
    <main>
        {% block content %}{% endblock %}
        <p>alo</p>
    </main>
    <footer>
        <p>Derechos reservados</p>
    </footer>
</body>
</html>